/*** Main styles for all product pages ***/
.product-hero-img {
    background-image: url("../../images/products_header.jpg");
	background-color: #222222;
    background-position: center;
	min-height: 50%;
}

.product-hero-img-protein {
    background-image: url("../../images/protein_header.jpg");
}

.product-hero-img-vitamins {
    background-image: url("../../images/vitamins_header.jpg");
}

.product-hero-img-supplements {
    background-image: url("../../images/supplements_header.jpg");
}

.product-hero-img-equipment {
    background-image: url("../../images/equipment_header.jpg");
}

#product-nav {
    background-image: url("../../images/metal_bg.jpg");
    background-color: #222222;
    background-size: cover;
}

#product-nav ul {
    font-family: life_is_okayregular, 'Arial Black', sans-serif;
    font-size: 1.2em;
    padding: 10px;
}

#product-nav a {
    color: #fff;
}

#product-nav a:hover {
    color: #FFA500;
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
.sticky-nav + .product-section {
    padding-top: 60px;
}
/*** /.Main Styles ***/

/*** Product list page ***/
.card-body:hover {
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.2s;
}

.product-card > a, 
.product-card > p {
    font-family: life_is_okayregular, 'Arial Black', sans-serif;
    color: #222;
}

.product-card > a {
    font-size: 1.3em;
}

.product-card > a:hover {
    color: #FFA500;
}
/*** /.Product list page ***/

/*** Product Item page ***/
.product-header {
    text-transform: uppercase;
}

.product-price {
    font-family: life_is_okayregular, 'Arial Black', sans-serif;
    font-size: 1.2em;
}
/*** /.Product Item page ***/

/*** Media Queries ***/
@media screen and (min-width: 768px) {
    .product-image {
        max-width: 50%;
        height: auto;
    }
}