{% extends "base.html" %}
{% load static %}
{% block title %}PowerHaus | Cart{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/cart/cart.css' %}" />
{% endblock %}

{% block content %}
<!-- Header with Hero Image -->
<header class="cart-hero-img parallax">
    <div class="hero-text">
        <h1>Your Cart</h1>
    </div>
</header>
<!-- /.Header and Hero -->

<!-- Cart section -->
<section class="container no-floating-footer mb-2 mb-sm-3">
    <div class="row cart-column-headers">
        <p class="col-4 col-sm-5 my-auto">Product Info</p>
        <p class="col-2 my-auto">Price</p>
        <p class="col-3 my-auto">Quantity</p>
        <p class="col-2 my-auto">Subtotal</p>
    </div>
    <hr />
    {% if product_count > 0 %}
    {% for item in cart_items %}
    <div class="row cart-row">
        <div class="d-none d-sm-block col-sm-2">
            <div class="row">
                <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="col-12 img-fluid" alt="{{item.product.name}}" />
            </div>
        </div>
        <div class="col-4 col-sm-3">
            <p>{{ item.product.name }}</p>
            <p><small>SKU: {{ item.product.sku }}</small></p>
        </div>
        <div class="col-2">
            <p>£{{ item.product.price }}</p>
        </div>
        <div class="col-3">
            <div class="row">
                <form method="POST" action="{% url 'adjust_cart' item.product.id %}" class="col-12 quantity-form">
                    {% csrf_token %}
                    <input type="number" min="0" max="999" value="{{ item.quantity }}" class="form-control" name="quantity" />
                </form>
                <div class="col-12 mt-1">
                    <a class="btn brand-btn cart-submit-btn d-block d-sm-inline-block mb-1 mb-sm-0"><i class="fas fa-redo-alt"></i></a>
                    <a href="{% url 'remove_from_cart' item.product.id %}" class="btn brand-btn d-block d-sm-inline-block cart-delete-btn">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <p>£{{ item.item_total }}</p>
        </div>
    </div>
    <hr />
    {% endfor %}

    <div class="row my-5">
        <div class="col-sm-6 col-lg-4">
            <!-- Only shows discount entry for account holders -->
            {% if user.is_authenticated %}
            <form method="POST" class="promo-code">
                {% csrf_token %}
                <h3 class="promo-header">Have A Promo Code?</h3>
                <input name="discount" type="text" placeholder="Enter Code" />
                <button type="submit" class="btn brand-btn circle-btn">
                    <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </button>
                {% if messages %}
                    <div class="cart-messages">
                        {% for message in messages %}
                            {% with message.level as level %}
                                {% if level == 40 %}
                                    {% include 'includes/toasts/toast_error.html' %}
                                {% elif level == 30 %}
                                    {% include 'includes/toasts/toast_warning.html' %}
                                {% elif level == 25 %}
                                    {% include 'includes/toasts/toast_success.html' %}
                                {% else %}
                                    {% include 'includes/toasts/toast_info.html' %}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            {% endif %}
        </div>
        <div class="col-sm-6 col-lg-8 cart-total mt-3 mt-sm-0">
            <p><strong>Cart total: £{{ subtotal }}</strong></p>
            {% if discount_total %}
            <p class="text-danger">Discount: -£{{ discount_total }}</p>
            {% endif %}
            <p>Delivery: £{{ shipping }}</p>
            <p><strong>Grand total: £{{ total }}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <a href="{% url 'protein' %}" class="btn btn-lg continue-shopping-btn d-block d-sm-inline-block">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                 Continue shopping
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-lg brand-btn d-block d-sm-inline-block checkout-btn">
                Checkout 
                <i class="fas fa-lock" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <p class="col-12 mt-4">
            <i class="fas fa-exclamation-circle text-danger"></i>
            <strong>There is nothing in your cart at the moment.</strong>
        </p>
    </div>
    {% endif %}
</section>
<!-- /.Cart section -->
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/cart/cart.js' %}"></script>
{% endblock %}