{% extends "base.html" %}
{% load static %}
{% block title %}PowerHaus{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home/index.css' %}" />
{% endblock %}

{% block content %}
<!-- Header with Hero Image -->
<header class="index-hero-img parallax">
    <div class="hero-text">
        <h1>Welcome to the Haus of Power</h1>
    </div>
</header>
<!-- /.Header and Hero -->

<!-- Django messages shown as Bootstrap Toasts -->
{% if messages %}
    <div class="django-messages">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}
<!-- /.Django messages as BS Toasts -->

<!-- Product Range Section -->
<section class="container-fluid product-range-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="py-5">Ready to Feel the <span class="enlarged-header">Power</span>?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 range-card mb-5">
                <div class="range-card-wrapper">
                    <div class="row">
                        <h3 class="col-12">Supplements</h3>
                    </div>
                    <div class="row">
                        <p class="col-12">
                            <i class="fas fa-dumbbell" aria-hidden="true"></i>
                        </p>
                        <p class="col-12">
                            No matter whether it's protein, BCAAs, creatine or anythong in between, we've got you covered! 
                            Our range is made from the best ingredients that ensure you know exactly what it is you're putting 
                            in your body.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 range-card mb-5">
                <div class="range-card-wrapper">
                    <div class="row">
                        <h3 class="col-12">Accessories</h3>
                    </div>
                    <div class="row">
                        <p class="col-12">
                            <i class="fas fa-volleyball-ball" aria-hidden="true"></i>
                        </p>
                        <p class="col-12">
                            Into football? Rugby? Boxing? How about Volleyball? Regardless of what you're taking part in, 
                            we've got the goods to get you through it. We only stock the best brands, but we try not to break 
                            the bank.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 range-card mb-5">
                <div class="range-card-wrapper">
                    <div class="row">
                        <h3 class="col-12">Apparel</h3>
                    </div>
                    <div class="row">
                        <p class="col-12">
                            <i class="fas fa-tshirt" aria-hidden="true"></i>
                        </p>
                        <p class="offset-md-2 col-md-8 offset-lg-0 col-lg-12">
                            You're going to need some top of the range clothing to go with that tub of protein. Luckily, we 
                            can help with that, too. There are no knock-offs here - at PowerHaus we're all about providing 
                            the best.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.Product Range Section -->

<!-- Featured Products Section -->
<section class="container-fluid featured-products-section parallax">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="py-5">Featured Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-5 featured-product">
                <img src="{% static 'images/bcaa.png' %}" class="img-fluid" alt="Amino Acids" />
            </div>
            <div class="col-sm-6 col-md-4 mb-5 featured-product">
                <img src="{% static 'images/creatine.png' %}" class="img-fluid" alt="Creatine" />
            </div>
            <div class="col-sm-6 col-md-4 mb-5 featured-product">
                <img src="{% static 'images/protein_bar.png' %}" class="img-fluid" alt="Protein Bar" />
            </div>
            <div class="col-sm-6 col-md-4 mb-5 featured-product">
                <img src="{% static 'images/shaker.png' %}" class="img-fluid" alt="Drink Shaker" />
            </div>
            <div class="col-sm-6 col-md-4 mb-5 featured-product">
                <img src="{% static 'images/vitamin_d.png' %}" class="img-fluid" alt="Vitamin D" />
            </div>
            <div class="col-sm-6 col-md-4 mb-5 featured-product">
                <img src="{% static 'images/whey.png' %}" class="img-fluid" alt="Whey Protein" />
            </div>
        </div>
    </div>
</section>
<!-- /.Featured Products Section -->

<!-- Why Choose Us Section -->
<section class="container-fluid choose-us-section mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="py-5">Why Choose <span class="enlarged-header">PowerHaus</span>?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 usps">
                <p><span class="enlarged-header">PowerHaus</span> beats out the competition because we offer:</p>
                <ul class="usp-list">
                    <li>Products that will deliver every single day</li>
                    <li>The finest quality ingredients</li>
                    <li>Fast delivery options</li>
                    <li>100% Money back guarantee</li>
                    <li>24/7 UK-based customer service</li>
                    <li>Regular discounts and promos</li>
                </ul>
            </div>
            <!-- Bootstrap Carousel -->
            <div class="col-lg-6 d-none d-lg-block">
                <div id="usp-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid img-thumbnail" src="{% static 'images/kettlebell_workout.jpg' %}" alt="Kettlebell Workout">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid img-thumbnail" src="{% static 'images/kettlebells.jpg' %}" alt="Kettlebells">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid img-thumbnail" src="{% static 'images/battle_ropes.jpg' %}" alt="Battle Ropes">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 index-register-row">
            <div class="col-lg-6 text-center">
                <h3>Register a free account today!</h3>
            </div>
            <div class="col-lg-6">
                <a href="{% url 'account_signup' %}" class="btn btn-block brand-btn mx-auto">Sign Up</a>
            </div>
        </div>
    </div>
</section>
<!-- /.Why Choose Us Section -->
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/home/index.js' %}"></script>
{% endblock %}