{% extends "profiles/profile_base.html" %}
{% block title %}{{ user }}'s Profile{% endblock %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/profiles/profiles_main.css' %}" />
<link rel="stylesheet" href="{% static 'css/profiles/profile.css' %}" />
{% endblock %}

{% block profile_content %}
<article class="profile-section">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <h3 class="mb-4">{{ user }}'s Profile</h3>
    <div class="row">
        {% if user.profile.profile_pic %}
            <img class="col-lg-3 img-fluid" src="{{ MEDIA_URL }}{{ user.profile.profile_pic }}" alt="Profile Image" />
        {% else %}
            <img class="col-lg-3 img-fluid" src="{% static 'images/blank_avatar.jpg' %}" alt="Profile Image" />
        {% endif %}
        <div class="col-lg-9">
            <p><strong>Name:</strong> {{ first_name }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Date joined:</strong> {{ date_joined }}</p>
            <p><strong>Last login:</strong> {{ last_login }}</p>
            <p><strong>Location:</strong> {{ location }}</p>
            <br />
            <p><strong>About me:</strong> {{ bio }}</p>
        </div>
    </div>
</article>
{% endblock %}