{% extends "profiles/profile_base.html" %}
{% block title %}{{ user }}'s Profile{% endblock %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/profiles/profiles.css' %}" />
{% endblock %}

{% block profile_content %}
<article class="profile-section">
    {% if messages %}
        <div class="profile-messages">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
    <h3 class="mb-4">
        {{ user }}'s Profile 
        {% if user.is_superuser %}
            <span class="badge badge-pill admin-badge">Admin</span>
        {% elif user.is_staff %}
            <span class="badge badge-pill badge-success">Staff</span>
        {% endif %}
    </h3>
    <div class="row">
        {% if user.profile.profile_pic %}
            <img class="col-lg-3 profile-img mx-auto img-fluid" src="{{ MEDIA_URL }}{{ user.profile.profile_pic }}" alt="Profile Image" />
        {% else %}
            <img class="col-lg-3 profile-img mx-auto img-fluid" src="{% static 'images/blank_avatar.jpg' %}" alt="Profile Image" />
        {% endif %}
        <div class="col-lg-9">
            <!-- Uses the User object's first_name property if it has been set in the admin panel, otherwise uses the profile version -->
            {% if user.first_name %}
                <p><strong>Name:</strong> {{ user.first_name }}</p>
            {% else %}
                <p><strong>Name:</strong> {{ first_name }}</p>
            {% endif %}
            {% if user == request.user %}
                <p><strong>Email:</strong> {{ email }}</p>
            {% endif %}
            <p><strong>Date joined:</strong> {{ date_joined }}</p>
            <p><strong>Last login:</strong> {{ last_login }}</p>
            <p><strong>Location:</strong> {{ location }}</p>
            <br />
            <p><strong>About me:</strong> {{ bio }}</p> 
        </div>
    </div>
    {% if user == request.user %}
    <hr class="mt-5" />
    <div class="row">
        <div class="col-lg-9 mb-5">
            <h4 class="mb-4">Delivery Details</h4>
            <p><strong>Address Line 1:</strong> {{ user.profile.address_1 }}</p>
            <p><strong>Address Line 2:</strong> {{ user.profile.address_2 }}</p>
            <p><strong>Town/City:</strong> {{ user.profile.city }}</p>
            <p><strong>State/County:</strong> {{ user.profile.county }}</p>
            <p><strong>Zip/Post Code:</strong> {{ user.profile.post_code }}</p>
            <p><strong>Phone number:</strong> {{ user.profile.phone }}</p>
        </div>
    </div>
    {% endif %}
</article>
{% endblock %}