{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Header and Hero -->
<header class="profile-hero-img parallax">
    <div class="hero-text">
        <h1>All about you</h1>
    </div>
</header>
<!-- /.Header and Hero -->

<!-- Sub-nav menu: only renders for the user's own page -->
{% if user == request.user %}
<nav id="profile-nav" class="container-fluid">
    <div class="container">
        <ul class="text-center">
            <li class="d-inline px-2"><a href="{% url 'profile' request.user %}">View Profile</a></li>
            <li class="d-inline px-2"><a href="{% url 'edit_profile' request.user %}">Edit Profile</a></li>
            <li class="d-inline px-2"><a href="{% url 'order_history' request.user %}">Order History</a></li>
            <li class="d-inline px-2"><a href="{% url 'discount_page' request.user %}">Discounts</a></li>
        </ul>
    </div>
</nav>
{% endif %}
<!-- /.Sub-nav menu -->

<!-- Profile Section -->
<section class="container mt-5 no-floating-footer">
    {% block profile_content %}
    {% endblock profile_content %}
</section>
<!-- /.Profile Section -->
{% endblock content %}