/****** Delivery Info Page ******/

.delivery-hero-img {
    background-image: url("../../images/delivery.jpg");
	background-color: #222222;
    background-position: center;
	min-height: 50%;
}

.delivery-section p {
    font-weight: bold;
}

.delivery-section a:hover {
    text-decoration: none;
    color: #FFA500;
}

.delivery-section ul {
    list-style-type: none;
    font-weight: bold;
}

.delivery-section h2 {
    text-align: left;
}

.delivery-section .metal-header {
    font-size: 3.5em;
}

.delivery-header > span {
    color: red;
}

.delivery-header-white {
    color: #ffffff;
    text-shadow: 3px 5px 4px #000000;
}

p.delivery-subheader {
    font-family: life_is_okayregular, 'Arial Black', sans-serif;
    font-weight: normal;
    font-size: 1.2em;
}

.country-list-btn {
    background-color: #FFA500;
}

#country-list {
    display: none;
}

ul.delivery-times {
    list-style-type: square;
}

/****** Media Queries ******/
@media screen and (max-width: 560px) {
    .delivery-section .metal-header {
        font-size: 3em;
    }
}