/*** Main styles for all profile pages ***/
.profile-messages {
    position: absolute;
    right: 15px;
    z-index: 100;
}

.profile-hero-img {
    background-image: url("../../images/silhouette.jpg");
	background-color: #222222;
    background-position: center;
	min-height: 50%;
}

#profile-nav {
    background-image: url("../../images/metal_bg.jpg");
    background-color: #222222;
    background-size: cover;
}

#profile-nav ul {
    font-family: life_is_okayregular, 'Arial Black', sans-serif;
    font-size: 1.2em;
    padding: 10px;
}

#profile-nav a {
    color: #fff;
}

#profile-nav a:hover {
    color: #FFA500;
}
/*** /.Main Styles ***/

/*** Profile view ***/
.profile-img {
    max-height: 500px;
    width: auto;
}
/*** /.Profile view ***/

/*** Discount & Order History view ***/
.profile-card {
    /* Shadow style taken from: https://css-tricks.com/almanac/properties/b/box-shadow */
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.profile-card > .card-header {
    color: #fff;
}

.profile-card > .card-footer p {
    font-family: life_is_okayregular, 'Arial Black', sans-serif;
    font-size: 1.2em;
    color: #fff;
}

.profile-card > .card-footer p > span {
    color: #FFA500;
    font-size: 1.3em;
}

.order-info-row {
    align-items: center;
}
/*** /.Discount view ***/

/*** Media Queries ***/
@media screen and (max-width: 560px) {
    #profile-nav ul {
        font-size: 1em;
    }

    .profile-img {
        max-height: 300px;
        width: auto;
    }

    .order-number-header {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px) {
    .order-info-text {
        font-size: 0.8em;
    }
}