/*** Main styles for all profile pages ***/
.profile-hero-img {
    background-image: url("../../images/silhouette.jpg");
	background-color: #222222;
    background-position: center;
	min-height: 50%;
}

#profile-nav {
    background-image: url("../../images/metal_bg.jpg");
    background-color: #222222;
    background-size: cover;
}

#profile-nav ul {
    font-family: life_is_okayregular, 'Arial Black', sans-serif;
    font-size: 1.2em;
    padding: 10px;
}

#profile-nav a {
    color: #fff;
}

#profile-nav a:hover {
    color: #FFA500;
}
/*** /.Main Styles ***/

/*** Profile view ***/
.profile-img {
    max-height: 500px;
    width: auto;
}
/*** /.Profile view ***/

/*** Media Queries ***/
@media screen and (max-width: 560px) {
    #profile-nav ul {
        font-size: 1em;
    }

    .profile-img {
        max-height: 300px;
        width: auto;
    }
}