{% extends "products/products_base.html" %}
{% load static %}
{% block title %}PowerHaus | Products{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/products/products.css' %}" />
{% endblock %}

{% block product_content %}
<div class="row mb-4">
    <div class="offset-md-8 col-md-4">
        <form class="search-form row">
            <input type="text" name="q" placeholder="Search" class="form-control col-10" />
            <button type="submit" class="btn brand-btn col-2"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
<div class="row">
    {% for product in products %}
    <article class="card col-md-6 col-lg-4 mb-3">
        <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top" alt="Product Image" />
        <hr />
        <div class="card-body">
            <h4 class="card-title">{{ product.name }}</p>
            <p class="card-text">£{{ product.price }}</p>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}
