{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Header and hero -->
{% if url == "protein" %}
<header class="product-hero-img product-hero-img-protein parallax">
    <div class="hero-text">
        <h1>Protein</h1>
    </div>
</header>
{% elif url == "vitamins" %}
<header class="product-hero-img product-hero-img-vitamins parallax">
    <div class="hero-text">
        <h1>Vitamins</h1>
    </div>
</header>
{% elif url == "supplements" %}
<header class="product-hero-img product-hero-img-supplements parallax">
    <div class="hero-text">
        <h1>Supplements</h1>
    </div>
</header>
{% elif url == "equipment" %}
<header class="product-hero-img product-hero-img-equipment parallax">
    <div class="hero-text">
        <h1>Equipment</h1>
    </div>
</header>
{% else %}
<header class="product-hero-img parallax">
    <div class="hero-text">
        <h1>Products</h1>
    </div>
</header>
{% endif %}
<!-- /.Header and hero -->

<!-- Inner product nav -->
<nav id="product-nav" class="container-fluid">
    <div class="container">
        <ul class="text-center">
            <li class="d-inline px-2"><a href="{% url 'protein' %}">Protein</a></li>
            <li class="d-inline px-2"><a href="{% url 'vitamins' %}">Vitamins</a></li>
            <li class="d-inline px-2"><a href="{% url 'supplements' %}">Supplements</a></li>
            <li class="d-inline px-2"><a href="{% url 'equipment' %}">Equipment</a></li>
        </ul>
    </div>
</nav>
<!-- /.Inner product nav -->

<!-- Product section -->
<section class="container mt-5 no-floating-footer product-section">
{% block product_content %}
{% endblock product_content %}
</section>
<!-- /.Product section -->
{% endblock content %}

{% block custom_js %}
<script src="{% static 'js/products/sticky_nav.js' %}"></script>
{% endblock %}