{% extends "products/products_base.html" %}
{% load static %}
{% block title %}PowerHaus | Products{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/products/products_main.css' %}" />
{% endblock %}

{% block product_content %}
<div class="row">
    <article class="card col-lg-4" style="height: 300px;">
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
    </article>
    <article class="card col-lg-4" style="height: 300px;">
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
    </article>
    <article class="card col-lg-4" style="height: 300px;">
        <div class="card-header">

        </div>
        <div class="card-body">

        </div>
    </article>
</div>
{% endblock %}
